
:root {
  --text-color: rgb(177, 28, 65);
  --accent-color: rgb(65, 189, 20);
  --screen-color: rgba(46, 56, 64, 1);
  --background-color: #8a52ad;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 40px;  
  font-weight: 700;
  color: rgba(249, 219, 187, 1);
}

div.pokedex {
  background: rgb(123, 83, 121);
  border: 5px rgba(78, 110, 129, 1);
  max-width: null;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 10px;
}

.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
  
}

.nav-item {
  display: inline;
  width: 50%;
}

.navbar-nav.ml-auto {
  justify-content: flex-end; /* Align items to the right */
}

.navbar-custom {
  background-color: #8a52ad /* Set your desired background color */
  color white; /* Set your desired text color */
}

.nav-link {
  font-family: 'Arial', monospace;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  transition: font-size 500ms;
  color: white; /* Set the text color to white */
}

.nav-link:hover {
  font-size: 17px;
}

.navbar-brand {
  font-size: 40px;
  color:azure;
}

/* Main Section Styles */
.pokedex__main {
  width: 90%;
  margin: 0 0 20px 0;
}

.pokemon-list {
  display:inline-table;
  list-style-type: none;
  padding: 20;
  margin: 0;
  width: 100%;
  
}

.list-button {
  font-family: 'Arial', monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(46, 56, 64, 1);
  color: rgba(249, 219, 187, 1);
  border: 2px solid rgba(78, 110, 129, 1);
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 5px 0;
  text-align: left;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed */
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 800px; /* Adjust this value as needed */
  padding: 20px;
  margin: 0 auto; /* Center horizontally */
  list-style-type: none;
}

.list-group-item {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


.styled-button {
  /* Add your desired styling properties here */
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.styled-button:hover {
  /* Add hover styling properties here */
  background-color: #45a049;
}

.styled-button:focus {
  /* Add focus styling properties here */
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.4);
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: rgba(0, 0, 0, 0);
}

/* Modal to showDetails */
.modal-container {
  display: none;
}

.modal-content {
  position: relative;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgb(165, 76, 181);
  border: 2px solid rgba(78, 110, 129, 1);
  color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  height: auto;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-content h1 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 0;
  font-family: 'Arial', monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(6, 89, 177);
  color: rgba(249, 219, 187, 1);
  border: 2px solid rgba(78, 110, 129, 1);
  width: auto;
  height: auto;
  padding: 5px 20px;
  margin: 5px 0;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: rgba(249, 219, 187, 1);
  text-decoration: underline;
  opacity: 1;
  text-shadow: none;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.modal-content img {
  float: right;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .modal-content img {
      max-width: 170px;
      max-height: 170px;
  }
}

@media screen and (max-width: 370px) {
  .modal-content img {
      max-width: 110px;
      max-height: 110px;
  }
}
