html, 
body {
  font-family: Arial, sans-serif;
}

.modal-container {
  display: grid;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(253, 88, 242, 0.5);
  z-index: 999;
  overflow: auto; 
  text-align: center;
  
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:600px; /* Adjust the width as desired */
  height: 900px;
  max-width: 90%; /* Add a maximum width if needed */
  background-color: #fff;
  padding: 20px;
  text-align: center;

}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-close:focus {
  outline: none;
}

.modal h2 {
  margin-top: 0;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center; /* Add text alignment */
}

.modal p {
  margin-bottom: 0;
  text-align: center; /* Add text alignment */
  margin: 20px 50px; /* Adjust the margin values as desired */
}
